*{
	margin: 0;
    padding: 0;
}
body{
	background: url("https://images.unsplash.com/photo-1585496965680-b3abff43f1ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80") no-repeat center center fixed;
			 -webkit-background-size: cover;
			 -moz-background-size: cover;
			 -o-background-size: cover;
			 background-size: cover;
}
.bar{
    height: 50px;
    font-size: 30px;
    background: #76def3;
    text-align: center;
    color: white;
		margin: 20px 0 20px 0;
}
.main{

    background:rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
		color: white;
}
.main div{
	margin-left: 30%;
}
.m-50{
	margin-left: 40% !important;
}
