body{
	background: url(https://images.unsplash.com/photo-1598662779094-110c2bad80b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80) no-repeat center center fixed;
			 -webkit-background-size: cover;
			 -moz-background-size: cover;
			 -o-background-size: cover;
			 background-size: cover;
}
.bar{
    
    background: #76def3;
    text-align: center;
    color: white;
}
.main{

    background:rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
		color: white;
}
.main2{

    background:rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
		color: white;
		text-align:center;

}

.noMarginLeft{
	margin-left: 0 !important;
}
